<!DOCTYPE html>

<html>

{{>document_header}}

<body>
    <div class="main-content">
        {{>header}}

        <h1>Help Page</h1>

        <p>Our Message: <br>
            {{message}}
        </p>
    </div>
    {{>footer}}
</body>

</html>