<!DOCTYPE html>

<html>

{{>document_header}}

<body>
    <div class="main-content">
        {{>header}}

        <p>this is the paragraph from {{name}}</p>
    </div>

    {{>footer}}
</body>

</html>